<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109058266640-tvnch0u65g8r8j58behbssfq0qj2lpqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109058266640-tvnch0u65g8r8j58behbssfq0qj2lpqb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109058266640-14i2rea7pnvrttd47cudb0u0780k3p9p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBvhmYT0XZzQMfDfCf4AmKuFORKtakHLI</string>
	<key>GCM_SENDER_ID</key>
	<string>109058266640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoonwogud.escapesmu</string>
	<key>PROJECT_ID</key>
	<string>escapesmu</string>
	<key>STORAGE_BUCKET</key>
	<string>escapesmu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109058266640:ios:cd6d3cbc4023f19d051c95</string>
</dict>
</plist>