<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EscapeSMU</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/> <!--Http 요청 수락 fetch 요청이 차단되지 않음.-->
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>

	<key>NSCameraUsageDescription</key>	<!--카메라 권한 추가-->
  	<string>NsCamera 사용하여 사진 촬영</string>

	<key>NSLocationWhenInUseUsageDescription</key>	<!--현재 위치 권한-->
	<string>현재 위치 정보 확인</string>

	<key>NSLocationWhenInUseUsageDescription</key>	<!--백그라운드 위치 권한-->
	<string>백그라운드에서도 추적 권한</string>

	<key>NSLocationTemporaryUsageDescriptionDictionary</key>	<!--precision 위치 권한-->
	<dict>
  		<key>LocationAccuracy</key>
  		<string>정확한 위치 추적을 위해 고정밀 위치 권한</string>
	</dict>


	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
